@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap");
/* globals.css */
@import "~react-toastify/dist/ReactToastify.css";

* {
    margin: 0;
    padding: 0;
    /* font-family: "Playwrite At"; */
    /* font-family: "Playwrite AT", sans-serif; */
    /* box-sizing: border-box; */
    /* margin: 10px; */
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 120px auto;
}
